<div class="popover-content">
    <form name="popoverForm" ng-submit="submit()">
        <p ng-bind-html="content" style="min-width:300px"></p>
        <div class="form-group">
            <label>Bid</label>
            <input type="text" name="bid" ng-model="bid" class="form-control" placeholder="0.00" required>
            <span class="error" ng-show="popoverForm.bid.$error.required">Required!</span><br>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Place your bid!</button>
        </div>
    </form>
</div>
